/*global*/
*{
    margin:0;
    padding:0;
}
body{
    font-family: arial;

}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color:black;
}
h1,h2,h3{
    margin-bottom: 20px;
}
p{
    line-height: 2;
}
.bold{
    font-weight: bold;

}

/*utilities*/
.container{
    width:70%;
    margin-right:auto;
    margin-left: auto;
}
.btn-read{
    display: block;
    width: 100px;
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
}
.btn-info{
    display: block;
    width: 150px;
    background-color: brown;
    color: white;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
}
/*header*/
.site-init{
    background-image: url(img/banner.jpg);
    background-position: center center;
    background-size: cover;
    height: 400px;
    color:white;
    text-align: center;
}
